body {
  background-color: rgba(0, 0, 255, 0.95);
}
.centralizar {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0% auto;
  color: white;
  width: 200px;
  height: 200px;
  text-align: center;
}
