body {
  background-color: rgba(0, 0, 255, 0.95);
}
.centro {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0% auto;
  color: white;
  width: 200px;
  height: 200px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 500px;
}
td,
tr {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
