*{
    margin: 3px 3px ;
    padding: 3px;
    height: 50%;
    width: 75%;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#central{
    color: blue;
}